.main{
    padding: 80px 0;
}
.main h1{
    color: #6EA145;
    padding-bottom: 40px;
}
.little{
    padding: 0 40px;

}
.little img{
    width: 250px;
    height: 250px;
}
.little h4{
    color: #6EA145;
    margin: 20px 0;
}
.little p{
    color: #999;
}
.littleBtn{
    margin-left: 20%;
}
.smallScroll{
    height: 500px;
    background: url(../img/25.jpg) no-repeat center top;
    background-size: 100% ;
}